In [44]:
import pandas as pd
import numpy as np
from typing import Dict, Iterable, Tuple, List, Optional

In [55]:
# исходные данные, выбрать категории на месяц

tbank = {
      ('tbank', 'дикси', 0.18, 5000, 'all', 1, 4, 0),        # условия:5000 суммарный размер кешбека
      ('tbank', 'на все', 0.01, 5000, 'all', 0, 4, 0), # в месяц по всем категориям с подпиской Pro иначе 3000
      ('tbank', 'досуг', 0.05, 5000, 'all', 1, 4, 0),
      ('tbank', 'такси', 0.05, 5000, 'all', 1, 4, 0),
      ('tbank', 'книги', 0.05, 5000, 'all', 0, 4, 0),
      ('tbank', 'спорттовары', 0.05, 5000, 'all', 0, 4, 0),
      ('tbank', 'аптеки', 0.05, 5000, 'all', 1, 4, 0),
      ('tbank', 'авиа', 0.04, 5000, 'all', 0, 4, 0),
}

mts = {
      ('mts', 'самокат', 0.3, 500, 'one', 1, 5, 1), 
      ('mts', 'на все', 0.05, 1000, 'one', 1, 5, 0),
      ('mts', 'АЗС', 0.08, 1000, 'one', 1, 5, 0),
      ('mts', 'страховка', 0.1, 1000, 'one', 1, 5, 0),
      ('mts', 'продукты', 0.05, 1000, 'one', 0, 5, 0),
      ('mts', 'фастфуд', 0.08, 1000, 'one', 0, 5, 0),
      ('mts', 'досуг', 0.2, 5000, 'all', 1, 5, 0),
      ('mts', 'магазин напитков', 0.12, 1000, 'one', 1, 5, 0)
}

dom = {
      ('dom', 'спорттовары', 0.05, 2000, 'all', 1, 4, 0),   # условия: 2000 сумарный размер кешбека 
      ('dom', 'цветы', 0.05, 2000, 'all', 1, 4, 0), # в месяц по всем категориям
      ('dom', 'одежда', 0.05, 2000, 'all', 1, 4, 0),
      ('dom', 'книги', 0.05, 2000, 'all', 1, 4, 0)
}

# gpb = {
#       ('gpb', 'кафе и рестики', 0.01, 1000, 'one', 1, 5, 0),    # условия: среднемесячный остаток от 10000
#       ('gpb', 'маркетплейсы', 0.01, 1000, 'one', 1, 5, 0),
#       ('gpb', 'продукты', 0.01, 1000, 'one', 1, 5, 0),
#       ('gpb', 'аптеки', 0.01, 1000, 'one', 1, 5, 0),
#       ('gpb', 'транспорт', 0.01, 1000, 'one', 1, 5)
# }

psb = {
      ('psb', 'на все', 0.01, 3000, 'all', 0, 3, 1), # условия: сумма покупок от 5000 в месяц
      ('psb', 'цветы', 0.05, 3000, 'all', 1, 3, 0),
      ('psb', 'фастфуд', 0.05, 3000, 'all', 1, 3, 0),
      ('psb', 'салоны красоты', 0.05, 3000, 'all', 0, 3, 0),
      ('psb', 'дети', 0.05, 3000, 'all', 1, 3, 0),
      ('psb', 'такси и каршеринг', 0.05, 3000, 'all', 0, 3, 0),
      ('psb', 'жд билеты', 0.05, 3000, 'all', 0, 3, 0),
      ('psb', 'спорттовары', 0.03, 3000, 'all', 0, 3, 0),
      ('psb', 'аптеки', 0.03, 3000, 'all', 0, 3, 0),
      ('psb', 'одежда', 0.03, 3000, 'all', 0, 3, 0),
      ('psb', 'косметика', 0.03, 3000, 'all', 0, 3, 0),
      ('psb', 'бытовая техника', 0.02, 3000, 'all', 0, 3, 0),
      ('psb', 'мебель', 0.02, 3000, 'all', 0, 3, 0),
      ('psb', 'книги', 0.05, 3000, 'all', 0,  3, 0),
      ('psb', 'транспорт', 0.05, 3000, 'all', 0,  3, 0)
}

sber = {
      ('sber', 'кафе и рестики', 0.03, 5000, 'all', 1, 3, 0), # условия:5000 суммарный размер кешбека 
      ('sber', 'электроника', 0.02, 5000, 'all', 1, 3, 0),   # в месяц по всем категориям 
      ('sber', 'спорт', 0.05, 5000, 'all', 0, 3, 0),
      ('sber', 'одежда', 0.02, 5000, 'all', 0, 3, 0),
      ('sber', 'продукты', 0.015, 5000, 'all', 1, 3, 0),
}

alpha = {
      ('alpha', 'одежда', 0.05, 5000, 'all', 1, 3, 0), # условия:5000 суммарный размер кешбека 
      ('alpha', 'фастфуд', 0.02, 5000, 'all', 1, 3, 0),   # в месяц по всем категориям 
      ('alpha', 'цифровые товары', 0.01, 5000, 'all', 1, 3, 0)
}

otp = {
      ('otp', 'на все', 0.01, 3000, 'all', 0, 4, 0),  # условия:3000 суммарный размер кешбека
      ('otp', 'одежда', 0.05, 3000, 'all', 0, 4, 0), # в месяц по всем категориям
      ('otp', 'цветы', 0.1, 3000, 'all', 0, 4, 0),
      ('otp', 'образование', 0.05, 3000, 'all', 1, 4, 0),
      ('otp', 'аптеки', 0.02, 3000, 'all', 0, 4, 0),
      ('otp', 'продукты', 0.02, 3000, 'all', 0, 4, 0), 
      ('otp', 'коммуналка', 0.03, 3000, 'all', 1, 4, 0),
      ('otp', 'кафе и рестики', 0.05, 3000, 'all', 1, 4, 0),
      ('otp', 'искусство', 0.1, 3000, 'all', 0, 4, 0),
      ('otp', 'такси и каршеринг', 0.05, 3000, 'all', 1, 4, 0),
}
vtb = {
      ('vtb', 'на все', 0.02, 1000, 'all', 1, 3, 0), # условия: сумма покупок от 5000 в месяц
      ('vtb', 'продукты', 0.02, 1000, 'all', 1, 3, 0),
      ('vtb', 'спорттовары', 0.05, 3000, 'all', 0, 3, 0),
      ('vtb', 'транспорт', 0.05, 3000, 'all', 1,  3, 0),
      ('vtb', 'кафе и рестики', 0.03, 3000, 'all', 0, 3, 0),
      ('vtb', 'дети', 0.05, 3000, 'all', 0, 3, 0),
      ('vtb', 'аптеки', 0.05, 5000, 'all', 0, 3, 0),
}

columns = ['name', 'category', 'ratio', 'm_limit', 'limit_type','status', 'total_cats', 'bonus']

banks_dict = {
    'tbank': tbank,
    'mts': mts,
    'dom': dom,
    # 'gpb': gpb,
    'psb': psb,
    'sber': sber,
    'alpha': alpha,
    'otp': otp,
    'vtb': vtb}

In [56]:
def _banks_to_candidates(banks_dict: Dict[str, Iterable[Tuple]]):
    """
    Flatten banks_dict into a candidate DataFrame.
    Tuple formats accepted:
      - (bank, category, ratio, m_limit, status)
      - (bank, category, ratio, m_limit, status, total_cats)
      - (bank, category, ratio, m_limit, status, total_cats, bonus)
    Returned columns include:
      ['bank','category','ratio','m_limit','status','total_cats','bonus','limit_used']
    """
    rows = []
    for bank_name, items in banks_dict.items():
        for t in items:
            lt = len(t)
            if lt == 5:
                bank, category, ratio, m_limit, status = t
                limit_type, total_cats, bonus = 'all', 1, 0.0
            elif lt == 6:
                bank, category, ratio, m_limit, status, total_cats = t
                limit_type, bonus = 'all', 0.0
            elif lt == 7:
                bank, category, ratio, m_limit, status, total_cats, bonus = t
                limit_type = 'all'
            elif lt == 8:  # YOUR DATA FORMAT
                bank, category, ratio, m_limit, limit_type, status, total_cats, bonus = t
            else:
                raise ValueError(f"Each tuple must have 5-8 elements, got {lt}")

            rows.append({
                'bank': str(bank).strip(),
                'category': str(category).strip(),
                'ratio': ratio,
                'm_limit': m_limit,
                'limit_type': limit_type,  # NEW: store limit_type
                'status': status,
                'total_cats': total_cats,
                'bonus': bonus,
                'limit_used': 0.0
            })

    df = pd.DataFrame(rows)
    
    # Your excellent normalization stays the same
    df['ratio'] = pd.to_numeric(df['ratio'], errors='coerce').fillna(0.0).astype(float)
    df['m_limit'] = pd.to_numeric(df['m_limit'], errors='coerce').fillna(0.0).astype(float)
    df['status'] = pd.to_numeric(df['status'], errors='coerce').fillna(1).astype(int)
    df['total_cats'] = pd.to_numeric(df['total_cats'], errors='coerce').fillna(1).astype(int)
    df['limit_used'] = pd.to_numeric(df['limit_used'], errors='coerce').fillna(0.0).astype(float)
    df['bonus'] = pd.to_numeric(df['bonus'], errors='coerce').fillna(0).astype(float)
    
    # Updated column order
    df = df[['bank','category','ratio','m_limit','limit_type','status','total_cats','bonus','limit_used']]
    return df

def _ensure_cols(df: pd.DataFrame) -> pd.DataFrame:
    """Make a safe copy and ensure expected columns and types exist."""
    d = df.copy()
    # normalize possible limit column name
    if 'm_limit' not in d.columns and 'amount_RUR' in d.columns:
        d = d.rename(columns={'amount_RUR': 'm_limit'})

    # ensure essential columns
    for c in ['bank', 'category', 'ratio', 'm_limit', 'status', 'total_cats']:
        if c not in d.columns:
            raise ValueError(f"Input DataFrame must contain column: {c}")

    # types
    d['ratio'] = pd.to_numeric(d['ratio'], errors='coerce').fillna(0.0).astype(float)
    d['m_limit'] = pd.to_numeric(d['m_limit'], errors='coerce').fillna(0.0).astype(float)

    # limit_used optional — if absent, set 0
    if 'limit_used' not in d.columns:
        d['limit_used'] = 0.0
    else:
        d['limit_used'] = pd.to_numeric(d['limit_used'], errors='coerce').fillna(0.0).astype(float)

    d['status'] = pd.to_numeric(d['status'], errors='coerce').fillna(1).astype(int)
    d['total_cats'] = pd.to_numeric(d['total_cats'], errors='coerce').fillna(1).astype(int)

    # bonus optional
    if 'bonus' not in d.columns:
        d['bonus'] = 0.0
    else:
        d['bonus'] = pd.to_numeric(d['bonus'], errors='coerce').fillna(0.0).astype(float)

    # strip category/bank strings
    d['category'] = d['category'].astype(str).str.strip()
    d['bank'] = d['bank'].astype(str).str.strip()
    return d

def select_best_global(banks_dict: Dict[str, Iterable[Tuple]]):
    """
    Greedy selection of best categories overall subject to per-bank capacity (total_cats)
    and global uniqueness of category.

    Returns:
      selected_df: chosen rows (one row per chosen category)
      remaining_df: candidates that weren't selected
    """
    candidates = _banks_to_candidates(banks_dict)

    # Remove disabled candidates right away
    candidates = candidates[candidates['status'] != 0].copy()

    # Sort candidates: best first (ratio desc, then m_limit desc, then bonus desc)
    candidates = candidates.sort_values(['ratio', 'm_limit', 'bonus'], ascending=[False, False, False]).reset_index(drop=True)

    # Bank capacities tracker (bank -> capacity)
    bank_capacity = candidates[['bank', 'total_cats']].drop_duplicates().set_index('bank')['total_cats'].to_dict()
    # ensure every bank has capacity key
    for b in list(bank_capacity.keys()):
        bank_capacity.setdefault(b, int(bank_capacity[b]))

    # Bank usage tracker (bank -> used count)
    bank_used = {b: 0 for b in bank_capacity.keys()}

    selected_rows = []
    selected_categories = set()

    # iterate candidates in order
    for idx, row in candidates.iterrows():
        bank = row['bank']
        cat = row['category']

        # skip if category already chosen
        if cat in selected_categories:
            continue

        # skip if bank has no capacity left
        if bank_used.get(bank, 0) >= bank_capacity.get(bank, 0):
            continue

        # skip if candidate disabled (just in case)
        if int(row.get('status', 1)) == 0:
            continue

        # accept this candidate
        selected_rows.append(row.to_dict())
        selected_categories.add(cat)
        bank_used[bank] = bank_used.get(bank, 0) + 1

    selected_df = pd.DataFrame(selected_rows)

    # remaining are those present in candidates but not selected (by bank+category)
    if not selected_df.empty:
        sel_keys = set((r['bank'], r['category']) for r in selected_rows)
        remaining_mask = ~candidates.apply(lambda r: (r['bank'], r['category']) in sel_keys, axis=1)
        remaining_df = candidates[remaining_mask].reset_index(drop=True)
    else:
        remaining_df = candidates.copy()
    
    final_df = pd.concat([selected_df,remaining_df], ignore_index=True)
    final_df = final_df.sort_values(by=['category', 'ratio'], ascending=True)
    
    if not final_df.empty:
        final_df = final_df.reset_index(drop=True)
        final_df.insert(0, 'rank', range(1, len(final_df) + 1))

    # Add summary diagnostics: how many slots used per bank
#     bank_used_series = pd.Series(bank_used, name='used_slots')
#     bank_capacity_series = pd.Series(bank_capacity, name='capacity')
#     bank_diag = pd.concat([bank_capacity_series, bank_used_series], axis=1).fillna(0).astype(int)
#     bank_diag.columns = ['capacity','used_slots']

    return final_df


def use_limit(df: pd.DataFrame, bank: str, category: str, amount: float) -> pd.DataFrame:
    """
    Increases limit_used for a category and disables it (status=0)
    when limit_used >= m_limit.
    Operates on candidates DataFrame returned by _banks_to_candidates or similar.
    """
    d = df.copy()

    bank_in = str(bank).strip()
    cat_in = str(category).strip()

    if 'bank' not in d.columns or 'category' not in d.columns:
        raise ValueError("DataFrame must contain 'bank' and 'category' columns")

    d['bank'] = d['bank'].astype(str).str.strip()
    d['category'] = d['category'].astype(str).str.strip()

    mask = (d['bank'] == bank_in) & (d['category'] == cat_in)
    if not mask.any():
        raise ValueError(f"Category '{category}' for bank '{bank}' not found")

    # ensure numeric monitoring columns
    if 'limit_used' not in d.columns:
        d['limit_used'] = 0.0
    d['limit_used'] = pd.to_numeric(d['limit_used'], errors='coerce').fillna(0.0).astype(float)

    if 'm_limit' not in d.columns:
        raise ValueError("DataFrame must contain 'm_limit' column")
    d['m_limit'] = pd.to_numeric(d['m_limit'], errors='coerce').fillna(0.0).astype(float)

    d.loc[mask, 'limit_used'] = d.loc[mask, 'limit_used'] + float(amount)

    exhausted_mask = mask & (d['limit_used'] >= d['m_limit'])
    # Initialize status if absent
    if 'status' not in d.columns:
        d['status'] = 1

    # Handle limit_type if provided
    limit_type = (
        d.loc[mask, 'limit_type'].iloc[0].strip().lower()
        if 'limit_type' in d.columns else 'category'
    )
    
    if exhausted_mask.any():
        if limit_type == 'all':
            # Disable all categories of this bank
            d.loc[d['bank'] == bank_in, 'status'] = 0
        else:
            # Disable only this category
            d.loc[exhausted_mask, 'status'] = 0

    return d

In [57]:
# создание датасета
best_cats_month = _banks_to_candidates(banks_dict)      # keeps bonus, total_cats, limit_used
best_cats_month = select_best_global(banks_dict)
best_cats_month.head()

,rank,bank,category,ratio,m_limit,limit_type,status,total_cats,bonus,limit_used
0,1,mts,АЗС,0.08,1000.0,one,1,5,0.0,0.0
1,2,tbank,аптеки,0.05,5000.0,all,1,4,0.0,0.0
2,3,psb,дети,0.05,3000.0,all,1,3,0.0,0.0
3,4,tbank,дикси,0.18,5000.0,all,1,4,0.0,0.0
4,5,tbank,досуг,0.05,5000.0,all,1,4,0.0,0.0

In [58]:
# внесение расходов по категории
# simulate spending on a chosen category:
# best_cats_month = use_limit(best_cats_month, bank='alpha', category='аптеки', amount=2042)
# best_cats_month = use_limit(best_cats_month, bank='mts', category='маркетплейсы', amount=1000)
# best_cats_month = use_limit(best_cats_month, bank='mts', category='коммуналка', amount=353)
# best_cats_month = use_limit(best_cats_month, bank='mts', category='на все', amount=21)
# best_cats_month = use_limit(best_cats_month, bank='psb', category='на все', amount=38)
# best_cats_month = use_limit(best_cats_month, bank='vtb', category='супермаркеты', amount=1000)
# best_cats_month = use_limit(best_cats_month, bank='vtb', category='на все', amount=60)
# best_cats_month = use_limit(best_cats_month, bank='dom', category='спорттовары', amount=2000)
# best_cats_month = use_limit(best_cats_month, bank='otp', category='кафе и рестики', amount=36)
best_cats_month#[best_cats_month['status']!=0]

,rank,bank,category,ratio,m_limit,limit_type,status,total_cats,bonus,limit_used
0,1,mts,АЗС,0.080,1000.0,one,1,5,0.0,0.0
1,2,tbank,аптеки,0.050,5000.0,all,1,4,0.0,0.0
2,3,psb,дети,0.050,3000.0,all,1,3,0.0,0.0
3,4,tbank,дикси,0.180,5000.0,all,1,4,0.0,0.0
4,5,tbank,досуг,0.050,5000.0,all,1,4,0.0,0.0
5,6,mts,досуг,0.200,5000.0,all,1,5,0.0,0.0
6,7,sber,кафе и рестики,0.030,5000.0,all,1,3,0.0,0.0
7,8,otp,кафе и рестики,0.050,3000.0,all,1,4,0.0,0.0
8,9,dom,книги,0.050,2000.0,all,1,4,0.0,0.0
9,10,otp,коммуналка,0.030,3000.0,all,1,4,0.0,0.0
10,11,mts,магазин напитков,0.120,1000.0,one,1,5,0.0,0.0
11,12,vtb,на все,0.020,1000.0,all,1,3,0.0,0.0
12,13,mts,на все,0.050,1000.0,one,1,5,0.0,0.0
13,14,otp,образование,0.050,3000.0,all,1,4,0.0,0.0
14,15,alpha,одежда,0.050,5000.0,all,1,3,0.0,0.0
15,16,dom,одежда,0.050,2000.0,all,1,4,0.0,0.0
16,17,sber,продукты,0.015,5000.0,all,1,3,0.0,0.0
17,18,vtb,продукты,0.020,1000.0,all,1,3,0.0,0.0
18,19,mts,самокат,0.300,500.0,one,1,5,1.0,0.0
19,20,dom,спорттовары,0.050,2000.0,all,1,4,0.0,0.0
20,21,mts,страховка,0.100,1000.0,one,1,5,0.0,0.0
21,22,tbank,такси,0.050,5000.0,all,1,4,0.0,0.0
22,23,otp,такси и каршеринг,0.050,3000.0,all,1,4,0.0,0.0
23,24,vtb,транспорт,0.050,3000.0,all,1,3,0.0,0.0
24,25,alpha,фастфуд,0.020,5000.0,all,1,3,0.0,0.0
25,26,psb,фастфуд,0.050,3000.0,all,1,3,0.0,0.0
26,27,psb,цветы,0.050,3000.0,all,1,3,0.0,0.0
27,28,dom,цветы,0.050,2000.0,all,1,4,0.0,0.0
28,29,alpha,цифровые товары,0.010,5000.0,all,1,3,0.0,0.0
29,30,sber,электроника,0.020,5000.0,all,1,3,0.0,0.0

In [54]:
# remaining_df.head()

In [21]:
# final = pd.concat([best_cats_month[best_cats_month['status']!=0], remaining_df], ignore_index=True)
# final.sort_values(by=['category', 'ratio'], ascending=False, inplace=True)
# final.drop(columns=['rank', 'bonus', 'total_cats'], inplace=True)
# final

In [22]:
# рекалькуляция лучших категорий с учетом потраченных
# recompute selection after updates (re-run select_best_global)
best_cats_month, remaining2, bank_diag2 = select_best_global({
    k: v for k,v in banks_dict.items()
})

ValueError: too many values to unpack (expected 3)

In [23]:
# # исходные данные, выбранные категории на месяц

# tbank = {
#       ('tbank', 'railroads', 0.07, 5000, 1),        # условия:5000 суммарный размер кешбека
#       ('tbank', 'drugstores', 0.05, 5000, 1), # в месяц по всем категориям с подпиской Pro иначе 3000
#       ('tbank', 'fun', 0.05, 5000, 1),
#       ('tbank', 'taxi', 0.05, 5000, 1)
# }

# mts = {
#       ('mts', 'house services', 0.2, 1300, 1), 
#       ('mts', 'all', 0.1, 1000, 1),
#       ('mts', 'marketplaces', 0.12, 1000, 1),
#       ('mts', 'fastfood', 0.15, 1000, 1),
#       ('mts', 'beverages', 0.15, 1000, 1)
# }

# dom = {
#       ('dom', 'sport', 0.05, 2000, 1),   # условия: 2000 сумарный размер кешбека 
#       ('dom', 'flowers', 0.05, 2000, 1), # в месяц по всем категориям
#       ('dom', 'clothes', 0.05, 2000, 1),
#       ('dom', 'books', 0.05, 2000, 1)
# }

# gpb = {
#       ('gpb', 'cafes', 0.01, 1000, 1),    # условия: среднемесячный остаток от 10000
#       ('gpb', 'marketplaces', 0.01, 1000, 1),
#       ('gpb', 'supermarkets', 0.01, 1000, 1),
#       ('gpb', 'drugstores', 0.01, 1000, 1),
#       ('gpb', 'transport', 0.01, 1000, 1)
# }

# psb = {
#       ('psb', 'all', 0.01, 3000, 1), # условия: сумма покупок от 5000
#       ('psb', 'cinemas', 0.05, 3000, 1),
#       ('psb', 'flowers', 0.05, 3000, 1),
#       ('psb', 'railroads', 0.05, 3000, 1)
# }

# sber = {
#       ('sber', 'clothes', 0.02, 5000, 1), # условия:5000 суммарный размер кешбека 
#       ('sber', 'fastfood', 0.05, 5000, 1),   # в месяц по всем категориям 
#       ('sber', 'electronics', 0.02, 5000, 1)
# }

# alpha = {
#       ('alpha', 'supermarkets', 0.05, 5000, 1), # условия:5000 суммарный размер кешбека 
#       ('alpha', 'fastfood', 0.1, 5000, 1),   # в месяц по всем категориям 
#       ('alpha', 'drugstores', 0.1, 5000, 1),
#       ('alpha', 'flowers', 0.03, 5000, 1)
# }

# columns = ['name', 'category', 'ratio', 'm_limit', 'status']

# banks_dict = {
#     'tbank': tbank,
#     'mts': mts,
#     'dom': dom,
#     'gpb': gpb,
#     'psb': psb,
#     'sber': sber,
#     'alpha': alpha
# }

In [10]:
# # функции для расчетов

# def _banks_to_df(banks_dict: Dict[str, Iterable[Tuple]]):
#     # Flatten all bank tuples into a DataFrame
#     rows = []
#     for bank_name, items in banks_dict.items():
#         for t in items:
#             # tuple expected: (name, category, ratio, amount,RUR, status)
#             rows.append({
#                 'bank': t[0],
#                 'category': t[1],
#                 'ratio': float(t[2]),
#                 'm_limit': float(t[3]),
#                 'status': int(t[4])
#             })
#     df = pd.DataFrame(rows)
#     # normalize / trim strings
#     df['bank'] = df['bank'].astype(str).str.strip()
#     df['category'] = df['category'].astype(str).str.strip()
#     return df

# def _best_per_category(df: pd.DataFrame) -> pd.DataFrame:
#     # choose best row per category by ratio desc, then amount desc
#     df_sorted = df.sort_values(['category', 'ratio', 'm_limit'], ascending=[True, False, False])
# #     best = df_sorted.drop_duplicates(subset=['category'], keep='first').reset_index(drop=True)
#     # sort final global ranking by ratio desc then amount desc
#     best = df_sorted.sort_values(['ratio', 'm_limit'], ascending=[False, False]).reset_index(drop=True)
#     return best


# def add_limit_monitoring(df: pd.DataFrame) -> pd.DataFrame:
#     """
#     Adds a limit_used column and auto-updates status based on usage.
#     """
#     df = df.copy()
#     df["limit_used"] = 0.0   # initial usage
#     df["status"] = df["status"].astype(int)
#     return df

In [15]:
# # собственно создание датасета
# all_cats_df = _banks_to_df(banks_dict)
# best_cats_month = _best_per_category(all_cats_df)
# best_cats_month = add_limit_monitoring(best_cats_month)
# best_cats_month.head()